[Unit]
Description=description
After=network.target

[Service]
Environment="PGHOST=10.0.0.223"
Environment="PGUSER=root"
Environment="PGPASSWORD=password"
Environment="COLLECTION_URL=10.0.0.223"
Environment="COLLECTION_PORT=3000"
Environment="PROXY_PORT=80"
Enviroment="PWD=/home/pi/Documents/cloud-database-cluster-fun"
StandardOutput=inherit
Type=simple
User=pi
ExecStart=/home/pi/.nvm/versions/node/v16.11.1/bin/node $PWD/app/server.js

[Install]
WantedBy=multi-user.target
